.search-bar
    form(action=routes.friendSearch, method="get")
        i.fas.fa-search
        input(type="text", placeholder="Find Chats, Friends, Plus Friends", name="term")

<!-- action을 friend랑 chat이랑 구분해야함 -->